<template name="main">

	{{#contentFor "headerTitle"}}
		<button class="button button-clear pull-left" data-ion-menu-toggle="left">
	       <!-- {{> ionIcon icon='navicon'}}       -->
	       书卷
	    </button>
	    <h1 class="title ">{{bookName}} 第{{chapterSN}}章</h1>
	    <button class="button button-clear pull-right" data-ion-menu-toggle="right">
	        <!-- {{> ionIcon icon='navicon'}} -->
	        章 
	    </button>
	{{/contentFor}}

    {{#ionView}}
    {{#ionContent}}
    	<div class="list">
            <div id="divBible" style="height:900px;overflow-y:scroll;overflow-x:scroll">
                <ol>
                    {{#each lectionList}}
                      <li style="color:blue"> {{>lectionItem }}</li>
                    {{/each}}
                </ol>

            </div>

        </div>
    {{/ionContent}}
  {{/ionView}}
</template>