<template name="main">

	{{#contentFor "headerTitle"}}
		<button class="button button-clear pull-left" data-ion-menu-toggle="left">
	       <!-- {{> ionIcon icon='navicon'}}       -->
	       书卷
	    </button>
	    <h1 class="title ">{{bookName}} 第{{chapterSN}}章</h1>
	    <!-- <h1 class="title ">{{position}} | {{section}} ｜ {{dur}} </h1> -->
	    <button class="button button-clear pull-right" data-ion-menu-toggle="right">
	        <!-- {{> ionIcon icon='navicon'}} -->
	      {{#if isAndroid}}
	        {{> ionIcon icon='android-more-vertical'}}
	      {{else}}
	        {{> ionIcon icon='navicon'}}
	      {{/if}}
	    </button>
	{{/contentFor}}

    {{#ionView}}
    {{#ionContent}}
            <div id="divBible" class="list" style="height:100%;overflow-y:scroll;overflow-x:hidden;">
                    {{#each lectionList}}
                     {{>lectionItem }}
                    {{/each}}
            </div>
    {{/ionContent}}
  {{/ionView}}
</template>